name: Nuget Release
permissions:
  contents: read

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Verify commit exists in origin/master
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
          git branch --remote --contains | grep origin/master
      - name: Set VERSION variable from tag
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json
      - name: Restore Project Dependencies
        run: dotnet restore
      - name: Build Project
        run: dotnet build --no-restore --configuration Release /p:Version=${VERSION}
      - name: Pack Project
        run: dotnet pack --configuration Release /p:Version=${VERSION} --no-build --output .
      - name: Push Project to Nuget
        run: dotnet nuget push RestSharp.RequestBuilder.${VERSION}.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate
